.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d81159;
  color: #fff;
  height: 100px;
  width: 100%;
  /* padding: 0 20px; */
}

.links {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

.recipe-logo {
  width: 100px;
}
