.recipe-card {
  position: relative;
  display: inline-block;
  padding: 15px;
  width: 320px;
}

.recipe-label {
  word-wrap: none;
}

.fa-heart {
  position: absolute;
  top: 0;
  right: 0;
  color: grey;
}
.favorite {
  color: red;
}

.hide {
  display: none;
}
