<form
  class="search-form"
  #searchForm="ngForm"
  (ngSubmit)="submitForm(searchForm)"
>
  <img
    src="/assets/food-cooking-background.jpg"
    alt="Food cutting board image"
    class="form-background-img"
  />
  <label for="searchTerm" class="search-term-header">Search Recipes</label>
  <input
    type="text"
    name="searchTerm"
    id="searchTerm"
    placeholder="what are you looking for?"
    ngModel
  />
  <label for="diet" class="diet-header">Diet</label>
  <select id="diet" name="diet" ngModel>
    <option value="balanced">Balance</option>
    <option value="high-protein">High Protein</option>
    <option value="low-fat">Low Fat</option>
    <option value="low-carb">Low Carb</option>
  </select>
  <!-- was brainstorming below how to best move forward with our next input for the health category -- search box may be best? Lets chat about it -->
  <!-- <label for="dietaryRestrictions">Dietary Restictions</label>
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" />
  <label for="vehicle1"> I have a bike</label><br />
  <input type="checkbox" id="vehicle2" name="vehicle2" value="Car" />
  <label for="vehicle2"> I have a car</label><br />
  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat" />
  <label for="vehicle3"> I have a boat</label><br /><br /> -->
  <button class="search-button">Search</button>
</form>
