<app-header></app-header>
<app-search-form></app-search-form>

<div class="recipe-results-container">
  <app-recipe
    *ngFor="let item of recipeData?.hits; index as i"
    [recipeRef]="item.recipe"
    (favoriteEvent)="editFavorites($event)"
    (popupEvent)="setShowIndex(i)"
    class="search-results"

  >
  </app-recipe>

</div>
<app-recipe-popup *ngFor="let item of recipeData?.hits; index as i" [ngClass]="{'none': showIndex !== i }" [hit]="item.recipe" (closeEvent)="removeShowIndex()" ></app-recipe-popup>
<app-footer></app-footer>
