.search-results {
  margin-top: 15px;
}

.recipe-results-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.none {
  display: none;
}
